In [1]:
from copy import deepcopy
import pandas
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

data = pandas.read_csv('titanic.csv', index_col = 'PassengerId')
   
print(data)

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
...                                                        ...     ...   ...
887                                      Montvila, Rev. Juozas    male  27.0
888                               Graham, Miss. Margaret Edith  female  19.0
889                   Johnston, Miss. Catherine Helen "Carrie"  female   NaN
890                                      Behr, Mr. Karl Howell    male  26.0
891                                        Dooley, Mr. Patrick    male  32.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
...            ...    ...               ...      ...   ...      ...
887              0      0            211536  13.0000   NaN        S
888              0      0            112053  30.0000   B42        S
889              1      2        W./C. 6607  23.4500   NaN        S
890              0      0            111369  30.0000  C148        C
891              0      0            370376   7.7500   NaN        Q

[891 rows x 11 columns]

In [9]:
df = deepcopy(data)
df1 = deepcopy(data)

col = ['PassengerId', 'Pclass', 'Name', 'Sex', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
columns = ['PassengerId', 'Survived', 'Name', 'SibSp', 'Parch', 'Ticket','Cabin', 'Embarked']

df.drop(columns, axis = 1, inplace = True, errors = 'ignore')
df1.drop(col, axis = 1, inplace = True, errors = 'ignore')


print(df)
print(df1)

             Pclass     Sex   Age     Fare
PassengerId
1                 3    male  22.0   7.2500
2                 1  female  38.0  71.2833
3                 3  female  26.0   7.9250
4                 1  female  35.0  53.1000
5                 3    male  35.0   8.0500
...             ...     ...   ...      ...
887               2    male  27.0  13.0000
888               1  female  19.0  30.0000
889               3  female   NaN  23.4500
890               1    male  26.0  30.0000
891               3    male  32.0   7.7500

[891 rows x 4 columns]
             Survived   Age
PassengerId
1                   0  22.0
2                   1  38.0
3                   1  26.0
4                   1  35.0
5                   0  35.0
...               ...   ...
887                 0  27.0
888                 1  19.0
889                 0   NaN
890                 1  26.0
891                 0  32.0

[891 rows x 2 columns]

In [10]:
df.Sex.replace (to_replace = dict(female = 0, male = 1), inplace = True)

print(df)

             Pclass  Sex   Age     Fare
PassengerId
1                 3    1  22.0   7.2500
2                 1    0  38.0  71.2833
3                 3    0  26.0   7.9250
4                 1    0  35.0  53.1000
5                 3    1  35.0   8.0500
...             ...  ...   ...      ...
887               2    1  27.0  13.0000
888               1    0  19.0  30.0000
889               3    0   NaN  23.4500
890               1    1  26.0  30.0000
891               3    1  32.0   7.7500

[891 rows x 4 columns]

In [11]:
df = df[~df['Age'].isnull()]

df1 = df1[~df1['Age'].isnull()]

df1.drop(['Age'], axis = 1, inplace = True, errors = 'ignore')

print (df)
print(df1)

             Pclass  Sex   Age     Fare
PassengerId
1                 3    1  22.0   7.2500
2                 1    0  38.0  71.2833
3                 3    0  26.0   7.9250
4                 1    0  35.0  53.1000
5                 3    1  35.0   8.0500
...             ...  ...   ...      ...
886               3    0  39.0  29.1250
887               2    1  27.0  13.0000
888               1    0  19.0  30.0000
890               1    1  26.0  30.0000
891               3    1  32.0   7.7500

[714 rows x 4 columns]
             Survived
PassengerId
1                   0
2                   1
3                   1
4                   1
5                   0
...               ...
886                 0
887                 0
888                 1
890                 1
891                 0

[714 rows x 1 columns]

In [24]:
x_train, x_test, y_train, y_test = train_test_split (df, df1, random_state = 241)

# 
# print (x_train)
# 
# print (x_test)
# 
# print (y_train)
# 
# print (y_test)

tree = DecisionTreeClassifier(random_state=241)

tree.fit(x_train, y_train)

print (tree)

# tree = DecisionTreeClassifier(random_state=241)
# 
# tree.fit(df, df1)
# 
# importance = tree.feature_importances_
# 
# print (importance)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=241, splitter='best')

In [25]:
importance = tree.feature_importances_

print (importance)

[0.13462295 0.28415953 0.25618518 0.32503234]